<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria Elegido</title>
    <link rel="shortcut icon" href="img/cafe1.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a href="#">Usuario</a>
            <a href="#">Acerca de nostros</a>
            <a href="#">Portafolio</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
        </nav>
        <section class="textos-header">
            <h1>Tienda de cafe especial</h1>
            <h1>ELEGIDO</h1>
            <h2>de las montañas de colombia para el mundo</h2>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-3.67,105.41 C382.90,170.53 233.35,-17.95 503.10,92.58 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </header>
    <main>
      <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestro Producto</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="img/shopecoofe.svg " alt="" Class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Cafe Elegido</h3>
                <p>un emprendimiento colombiano con doble propósito:
                    Entregarte el mejor y más delicioso café,
                    mientras que cuidamos a la gente de la comunidad y a su entorno con procesos sostenibles.</p>
                <h3><span>2</span>Nuestra seleccion</h3>
                <p>es un café especial de 85 puntos de cata en la escala de la Specialty Coffee Asociation, de diferentes origenes siempre contando con la mejor calidad</p>
                <h3><span>3</span>Tus opciones</h3>
                <p>puedes preparar el mejor café,
                    escoge tu método preferido. grama entero,granulado o en polvo</p>
            </div>
        </div>
    </section>
    <section class="Portafolio">
      <div class="contenedor">
          <h2 class="titulo">Portafolio</h2>
          <div class="Galeria-port">
              <div class="imagen-port">
                  <img src="img/presentacion de envio.jpeg
                  " alt="">
                  <div class="hover-Galeria">
                      <img src="img/icono 1.png" alt="">
                      <p>Cafe Nacional</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="img/cafe11.jpeg" alt="">
                  <div class="hover-Galeria">
                      <img src="img/icono 1.png" alt="">
                      <p>Cafe Importado</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="img/mate.jpeg" alt="">
                  <div class="hover-Galeria">
                      <img src="img/icono 1.png" alt="">
                      <p>Té</p>
                  </div>
              </div>
              <div class="imagen-port">
                  <img src="img/te.jpeg" alt="">
                  <div class="hover-Galeria">
                      <img src="img/icono 1.png" alt="">
                      <p>Acompañantes</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section  class="clientes contenedor">
    <h2 class="titulo">Que dicen nuestros clientes</h2>
    <div class="cards">
        <div class="card">
            <img src="img/comentariohombre.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Santiago</h4>
                <p>
                    “Me encantó el balance, es suave perfumado y dulce, es un súper producto!"</p>
            </div>
        </div>
        <div class="card">
            <img src="img/chicaok.jpg" alt="">
            <div class="contenido-texto-card">
                <h4>Carolina</h4>
                <p>
                    “Empezando por su aroma que es fuerte e invade el espacio, percibí algo de dulzor sin cubrir el amargo exquisito que se mantiene en la boca"</p>
            </div>
        </div>
    </div>
</section>
<section class="about-services">
  <div class="contenedor">
      <h2 class="titulo">Nuestros servicios</h2>
      <div class="servicio-cont">
          <div class="servicio-ind">
              <img src="img/deliveries.svg" alt="">
              <h3>Domicilio</h3>
              <p>Toma tu pedido por la pagina o por nuestra linea telefonica, en 10 minutos estaras disfrutando de nuestro cafe </p>
          </div>
          <div class="servicio-ind">
              <img src="img/barista_.svg" alt="">
              <h3>Encarga y recoge</h3>
              <p>reserva tu cafe y pasa a recogerlo, no perderas tiempo !sabemos que es importante para ti¡</p>
          </div>
          <div class="servicio-ind">
              <img src="img/relax.svg " alt="">
              <h3>reserva</h3>
              <p>pasa tiempo en nuestras instalaciones disfrutando del mejor cafe y en un espacio comodo </p>
          </div>
      </div>
  </div>
</section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Phone</h4>
                <p>829612</p>
            </div>
            <div class="content-foo">
                <h4>Imail</h4>
                <p>829612</p>
            </div>
            <div class="content-foo">
                <h4>Location</h4>
                <p>829612</p>
            </div>
        </div>
        <h2 class="titulo-final">&copy;Proyecto Grupo 4 | Camilo Velez </h2>
    </footer>
</body>
</html>
